<div class="container">
  <education-header></education-header>
  <form>
    <div class="form-group login-form">
      <input  class="form-control"
              id="loginInput">
      <label for="loginInput">Login</label>
      <input class="form-control"
             id="passwordInput">
      <label for="passwordInput">Password</label>
      <div>
        <button class="btn btn-primary">Enter</button>
      </div>
    </div>
  </form>
  <footer class="footer">
    <education-footer></education-footer>
  </footer>
</div>
