<div class="header">
      <div>Logo</div>
      <a href="#"
         (click)="authorizationService.login('Zhenya', 111)"
         *ngIf="!authorizationService.isAuthenticated"
      >Sign in</a>
      <div *ngIf="authorizationService.isAuthenticated"
           class="login">
        <div>{{authorizationService.userInfo.login}}</div>
        <div>
          <a href="#"
            (click)="authorizationService.logout()"
            >Log off</a>
        </div>
      </div>
</div>
<div class="breadcrumbs">Breadcrumbs will be here...</div>


