<div class="form-group">
    <label>Date</label>
    <input type="text"
           class="form-control"
           ngModel
           name="date"
           required
           [ngModel]="dateStr"
           #date="ngModel"
           datevalidator>
    <div class="error-message"
         *ngIf="date.errors && (date.dirty || date.touched || courseForm.submitted)">
        <p *ngIf="date.errors.required">
            The title is required
        </p>
        <p *ngIf="date.errors.datevalidator">
            The date must be in format dd/mm/yyyy.
        </p>
    </div>
</div>