<div  class="container">
    <div class="alert alert-danger" *ngIf="error">Something went wrong. Please try later</div>
    <div class="alert alert-success" *ngIf="success">Your course saved. Please edd new course or
        <a routerLink="/courses" >go home</a>.
    </div>
    <h1>Course form</h1>
    <form  #courseForm="ngForm" (ngSubmit)="courseForm.valid && onSubmit(courseForm.value)">
        <div class="form-group">
            <label>Title</label>
            <input type="text"
                   class="form-control"
                   ngModel
                   name="title"
                   #title="ngModel"
                   required
                   [(ngModel)]="course.name"
                   maxlength="50">
            <div class="error-message"
                 *ngIf="title.errors && (title.dirty || title.touched || courseForm.submitted)">
                <p *ngIf="title.errors.required">
                    The title is required
                </p>
            </div>
        </div>
        <date-input #dateInput [courseForm]="courseForm" [dateStr]="course.dateStr"></date-input>
        <duration-input  #durationInput [length]="course.length" [courseForm]="courseForm" ></duration-input>
        <div class="form-group">
            <label>Description</label>
            <input type="text"
                   class="form-control"
                   ngModel
                   [(ngModel)]="course.description"
                   name="description"
                   required
                   #description="ngModel"
                   maxlength="500">
            <div class="error-message"
                 *ngIf="description.errors && (description.dirty || description.touched || courseForm.submitted)">
                <p *ngIf="description.errors.required">
                    The description is required
                </p>
            </div>
        </div>
        <authors #authors [authors]="course.authors"></authors>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button (click)="closeForm()" class="btn btn-primary">Close</button>
    </form>
</div>