.course-section {
  margin: 5px;
  padding: 5px;
  border-top: 3px solid lightgray;

  button {
    margin-top: 5px;
  }

  .bolder {
    font-weight: bolder;
  }
}

.top-rated-course {
  background-color: lightgrey;

  h2:after {
    content: '*';
  }
}
