<div class="tool">
  <form>
    <div class="form-group">
      <input [(ngModel)]="findCourseString"
             name="course"
             class="form-control">
      <button class="btn btn-primary"
              (click)="findCourses(findCourseString)">Find</button>
    </div>
  </form>
  <button class="btn btn-lg btn-primary"
          (click)="isCreating = true">Add course</button>
  <div *ngIf="isCreating">
    <course-form></course-form>
    <button class="btn btn-primary"
            (click)="cancelCreating()">Cancel</button>
  </div>
  <!--<form *ngIf="isCreating">-->
    <!--<div class="form-group creating-form">-->
      <!--<input  name="course"-->
              <!--class="form-control"-->
              <!--[(ngModel)]="titleNewCourse"-->
              <!--id="creatingTitleCourseInput">-->
      <!--<label for="creatingTitleCourseInput">Title of course</label>-->
      <!--<input  name="course"-->
              <!--class="form-control"-->
              <!--[(ngModel)]="durationNewCourse"-->
              <!--id="creatingDurationCourseInput">-->
      <!--<label for="creatingDurationCourseInput">Duration of course</label>-->
      <!--<input  name="course"-->
              <!--class="form-control"-->
              <!--[(ngModel)]="descriptionNewCourse"-->
              <!--id="creatingDescriptionCourseInput">-->
      <!--<label for="creatingDescriptionCourseInput">Description of course</label>-->
      <!--<div>-->
        <!--<button class="btn btn-primary"-->
                <!--(click)="saveCourse()">Save</button>-->
        <!--<button class="btn btn-primary"-->
                <!--(click)="cancelCreating()">Cancel</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
</div>

